*,
*::before,
*::after {
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
}

html {
  background-color: #333;
  color: whitesmoke;
  font-family: sans-serif;
}

body {
  display: grid;
  place-content: center;
  font-size: 150%;
}

button {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.gold {
  color: gold;
}

.text-center {
  text-align: center;
}

.center-items {
  display: flex;
  justify-content: center;
  gap: 4px;
}

button {
  font-size: 14px;
  background-color: black;
  color: white;
  border: 2px solid black;
  width: 54px;
}
